.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
  width: 100%;
}

.page__number,
.arrow {
  border: none;
  cursor: pointer;

  background-color: #fff;
}

.page__number:disabled,
.arrow:disabled {
  cursor: default;
}

.page__number {
  padding: 8px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
